<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<body>
    <table width="800.0" cellspacing="0" cellpadding="0" class="t1">
        <tbody>
            <tr>
                <td valign="middle" class="td3">
                    <table width="500.0" cellspacing="0" cellpadding="0" class="t3">
                        <tbody>
                            <tr>
                                <td valign="middle" class="td4">
                                    <table width="500.0" cellspacing="0" cellpadding="0" class="t3">
                                        <tbody>
                                            <tr>
                                                <td valign="middle" class="td4">
                                                    <table width="500.0" cellspacing="0" cellpadding="0" class="t3">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="middle" class="td5">
                                                                    <h2 class="s2">O cliente <b>{{name}}</b> solicitou um orçamento de uma
                                                                        aula de {{course}}.
                                                                    </h2>
                                                                    <h4>Informações da solicitação</h4>
                                                                    <ul class="ul1">
                                                                        <li><span>Matéria: {{course}}</span></li>
                                                                        <li><span>Dia da aula: {{dateClass}}</span></li>
                                                                        <li><span>Horário da aula: {{hourLesson}}</span></li>
                                                                        <li><span>Nome: {{name}}</span></li>
                                                                        <li><span>Telefone: {{phone}}</span></li>
                                                                        <li><span>Entrar em contato pelo celular: {{usePhoneToContact}}</span></li>
                                                                        <li><span>Celular: {{phone}}</span></li>
                                                                        <li><span>E-mail: {{email}}</span></li>
                                                                        <li><span>Preço desejado: {{price}}</span></li>
                                                                        <li><span>Nível da aula: {{level}}</span></li>
                                                                        <li><span>Frequêncua da aula: {{frequency}}</span></li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>